<div class="container-fluid mr-0 pe-0">
  <div class="formGroup row formLogin">
    <div class="div-card col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12">
      <h1 class="text-welcome">!Bienvenido!</h1>
      <h2 class="title-login title">Iniciar sesión</h2>
      <div class="login">
        <form [formGroup]="createdForm" class="form-login">
          <div class="input-login">
            <mat-form-field appearance="fill" class="inputWidth">
              <mat-label>Correo electrónico</mat-label>
              <input matInput type="text" formControlName="email" />
            </mat-form-field>
          </div>
          <div class="input-login">
            <mat-form-field appearance="fill" class="inputWidth">
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                min="6"
                formControlName="password"
                [type]="hide ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </form>
        <div class="divButLogin">
          <button
            mat-raised-button
            class="butLogin"
            type="submit"
            (click)="submit()"
          >
            Iniciar sesión
          </button>
        </div>
      </div>
      <div class="div-text-register">
        <p class="text-register">
          ¿No tienes cuenta?
          <a class="a-link-register" routerLink="/register"> Regístrate</a>
        </p>
      </div>
      <div class="div-text-register">
        <p class="text-register">
          ¿Olvidaste tu contraseña?
          <a class="a-link-register" routerLink="/passwordRecovery"> Recuperar</a>
        </p>
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 pe-0 imag">
      <img src="../../../../assets/background.png" alt="" class="imgPosition" />
    </div>
  </div>
</div>
