.formRegister {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    margin-inline: auto;
    padding-right: 0px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  .img-login {
    width: 100%;
    height: 91.8vh;
  }
  
  .div-card {
    text-align: center;
    margin-top: 10px
  }
  
  .butRegister {
    background-color: #9AC9FB;
    width: 50%;
    border-radius: 20px;
    align-content: flex-start;
  }
  
  .a-link-register {
    color: #FF0000;
  }
  
  .title-login {
    color: #1A202C;
  }
  
  .text-welcome{
    color: #9AC9FB;
    font-weight: bolder;
  
  }
  
  .a-link-register:hover{
    font-size: 1rem;
  }
  .inputWidth{
    width: 50%;
  }
  .imgPosition{
    height: 100vh;
  }
  @media (max-width: 767px){
    .formRegister {
      justify-content: center;
      background-color: #FF0000;
    }
    .div-card{
        box-shadow: 10px 5px 5px #9AC9FB;
        width: 75%;
        margin-top: 30px;
        padding-top: 10px;
        background-color: azure;
    }
    .imag{
      display: none;
    }
    .inputWidth{
      width: 65%;
    }
  }
  @media (max-width: 400px){
    .inputWidth{
      width: 75%;
    }
  }
    