<div class="text-center p-2">
    <form [formGroup]="createdForm" class="form-login" autocomplete="off"> 
    <h1> <b>Ingresa tu nueva Contraseña </b></h1>
    <div>
        <mat-form-field appearance="fill" class="inputWidth">
            <mat-label>Contraseña nueva</mat-label>
            <input
              matInput
              min="6"
              formControlName="password"
              [type]="hide ? 'password' : 'text'"
              autocomplete="off"
            />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <div *ngIf="createdForm?.controls?.password?.errors?.pattern && createdForm?.controls?.password?.touched">
            La contraseña debe llevar minimo dos letras, dos caracteres, dos numeros
        </div>
    </div>

    <div>
        <mat-form-field appearance="fill" class="inputWidth">
            <mat-label>Contraseña nueva</mat-label>
            <input
              matInput
              min="6"
              formControlName="passwordVerification"
              [type]="hideVerification ? 'password' : 'text'"
              autocomplete="off"
            />
            <button mat-icon-button matSuffix (click)="hideVerification = !hideVerification" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideVerification">
              <mat-icon>{{hideVerification ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <div *ngIf="createdForm?.controls?.password?.errors?.pattern && createdForm?.controls?.passwordVerification?.errors?.pattern">
                La contraseña debe llevar minimo dos letras, dos caracteres, dos numeros
            </div>
        </mat-form-field>
        

        <mat-error class="mat-error" *ngIf="checarSiSonIguales()">Las contraseñas no coinciden</mat-error>
    </div>
    
    <button type="button" class="btn btn-success">Success</button>
    </form>
  </div>
