<section class="text-center">
<H1 class="colorTextPrimary m-2">Bienvenido</H1>

<div  class="row d-flex flex-row justify-content-center alig-items-center ">
        <div  class="col-xl-2 col-lg-4 col-md-4 col-6 m-4  bg-none  row d-flex flex-row bg-info justify-content-center alig-items-center transformation shadow p-3 mb-5  rounded" id="shadow">
            <p class=" rounded text-center  textBackoffice"> <b> TPV </b> </p>
            <div class="iconBackoffice">
                <i class="bi bi-newspaper rounded-circle mb-1 wisthIcons"> <p class=""></p></i>
            </div>
            <p class=" rounded text-center">
                <button type="button" class="btn btn-success m-1"  [routerLink]="['/pointSale']" > Ir</button>   
            </p>
        </div>

        <div  class="col-xl-2 col-lg-4 col-md-4 col-6 m-4 border-bottom border-end bg-info row d-flex flex-row justify-content-center alig-items-center transformation shadow p-3 mb-5  rounded" id="shadow">
            <p class=" rounded text-center  textBackoffice" > <b> Movimientos </b></p>
            <div class="iconBackoffice">
                <i class="bi bi-journal-check rounded-circle  mb-1 wisthIcons"></i>
            </div>
              <p class=" rounded text-center">
                <button type="button" class="btn btn-success m-1" [routerLink]="['/movements']" > Ir</button>   
            </p>   
        </div>
  </div>      
</section>

